# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.env
.venv/
env/
venv/
ENV/

# Kaggle API token
kaggle.json

# Dataset files
*.csv
*.zip
*.parquet

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode settings
.vscode/

# OS-specific files
.DS_Store
Thumbs.db
